################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MEFFactoryPattern/PowerBIProvider/obj/Debug
/MEFFactoryPattern/MEFFactoryPattern/bin/Debug
/MEFFactoryPattern/DundasProvider/obj/Debug
/MEFFactoryPattern/BIProvider/obj/Debug
/MEFFactoryPattern/.vs/MEFFactoryPattern/v14/.suo
/MEFFactoryPattern/MEFFactoryPattern/obj/Debug
/MEFFactoryPattern/BIProvider/bin/Debug
/MEFFactoryPattern/DundasProvider/bin/Debug
/MEFFactoryPattern/PowerBIProvider/bin/Debug
