################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MEFFactoryPattern/PowerBIProvider/obj/Debug
